
div {
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 5px;
}

h1 {
    background-color: pink;
    width: 150px;
    padding-left: 30px;
    margin: 5px;
}

#one {
    background-color: #e5e5e5;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}

#two {
    background-color: #fca311;
    border-width: 2px;
    border-color: rgb(27, 107, 255);
    border-style: inset;
    border-radius: 10px;
}

#three {
    background-color: #94d2bd;
    border: 2px solid orangered;
    border-radius: 5px;
}

button {
    padding: 10px 50px;
    margin: 5px;
}