
div {
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 5px;
}

h1 {
    background-color: pink;
    width: 150px;
    padding-left: 30px;
    margin: 5px;
}

#one {
    background-color: #e5e5e5;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}

#two {
    background-color: #fca311;
    border-width: 2px;
    border-color: rgb(27, 107, 255);
    border-style: inset;
    border-radius: 10px;
}

#three {
    background-color: #94d2bd;
    border: 2px solid orangered;
    border-radius: 5px;
}

button {
    padding: 10px 50px;
    margin: 5px;
}

h2 {
    display: inline;
    background-color: darksalmon;
    /* inline요소는 width나 height같은 요소가 무시됨 contents에 영향을 주지 않고 그냥 겹쳐짐*/
}

span {
    background-color: darkorange;
    display: block;
    /* block요소들은 width같은 요소에 영향을 받고 유효하다는 점(다른 content와 겹치지 않고 밀어냄) */
}

#s {
    background-color: olivedrab;
    height: 200px;
    width: 200px;
    margin: 4px;
    display: inline-block;
}

section {
    width: 500px;
    height: 500px;
    background-color: palevioletred;
}

#unit {
    width: 50%;
    height: 50%;
    margin: 0;
    background: brown;
}

article {
    font-size: 10px;
}

h3 {
    font-size: 2em;
    /* 여백의 1em은 바로 윗부모기준 요소의 크기를 그대로 따른다 */
}

p {
    font-size: 3em;
    /* rem은 root의 사이즈 기준이므로 점점 작아지거나 점점 커지지 않는다는 장점 */
}