body {
    background-color: rgb(6, 6, 50);
    
}

button {
    margin: 100px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid;
    border-color:chartreuse;
    padding: 10px;
    transition: all 0.25s;
}

button:hover {
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(208, 255, 0); 
    transform: translate(-0.25em);
}

div {
    width: 100px;
    height: 100px;
    background-color: darkslategrey;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: khaki;
}
#static #middle {
    position: static;
    top: 100px;
    /* static은 top이런게 유효하지 않음 */
}

#relative #middle{
    position: relative;
    top: 100px; 
    left: 50px;
    /* 이러면 '원래 있던 자리 기준' 우측 아래로 이동함 */
}

#absolute #middle {
    position: absolute;
    top: 500px;
    /* absolute는 body를 기준으로 이동하게 됨 */
}

#fixed #middle {
    position: fixed;
    top: 500px;
    /* absolute와 같지만 공간을 차지하지 않고 페이지에서 눈에 보이는 위치를 유지함 */
}

.circle {
    background-color: pink;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: background-color 1s 1s;
}

.circle:hover {
    background-color: skyblue;
    
}

#transition div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-top 1s;
}
    
#transition:hover div {
    margin-top: 100px;
}

#transition div:nth-of-type(1) {
    transition-timing-function: ease-in;
}

#transition div:nth-of-type(2) {
    transition-timing-function: ease-out;
}